.photo-grid__image {
  vertical-align: top;
  max-width: 100%;
  width: 284px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid__image {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__image {
    width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__image {
    width: 288px;
  }
}
