.place__header {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

@media screen and (max-width: 320px) {
	.place__header {
		flex-direction: column;
		justify-content: start;
	}
}